<ion-view view-title="Tips for Pokemon Go">
  <ion-content>

      
      <br>
<ul class="cate-lv1">
 <center>  <h2>Tips/Tricks-Pokemon Go</h2></center> 
	<br>
<h5>	If you want to be a Pokemon Go master, you have to learn from a Pokemon Go master.
Earlier on Thursday, Brooklyn-based Nick Johnson became the first Pokemon Go player to publicly confirm that he had caught all 142 unique Pokemon that are currently available in the United States. 
<br>
It took a lot of doing, including at one point hiring an Uber to drive him in circles to catch one of the very last Pokemon he needed.
<br>
Here are Johnson's top tips/tricks for catching 'em all - as well as some of the crazy Pokemon adventures he had along the way.</h5>
<li>
<a class="item-background cate-lv1-item" ng-repeat="service in services" href="#/app/listing/{{service.id}}" style="background: url(img/category/{{service.img}}) no-repeat; background-size: cover;">
                <div class="item-wrapper">
                    <h2>{{service.title}}</h2>
                   
                </div>
            </a>
            </li>
        </ul>
    
  </ion-content>
</ion-view>
